<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>http://www.getbowser.com/welcome</string>
		<key>domain</key>
		<string>http://www.getbowser.com</string>
		<key>title</key>
		<string>About Bowser</string>
	</dict>
</array>
</plist>
